
@mixin fnt($c,$s,$w){
    color: $c;
    font-size: $s;
    font-weight: $w;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bussinesscard{
    background: url("/wave.png");
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.192) 0 4px 4px 3px;
    margin: 10vh 0;

    .bcrd{
       
        main{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            .info{
                section:nth-child(1){
                    text-align: start;
                    border-left: var(--gn) 1px solid;
                    padding-left: 10px;
                    margin: 0 0 16px 0;
                    h2{
                        a{
                            @include fnt(var(--tc), 0.7rem, 450)
                        }
                    }

                }
                
            }
        }
    }
}