@mixin fnt($c,$s,$w){
    color: $c;
    font-size: $s;
    font-weight: $w;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
    padding: 10px;
    .ft{
        background-color: #fefefe;
        header{
            h1{
                display: grid;
                place-items:center;
            }
        }
        main{
            padding: 10vh 0;
            ol{
                padding: 10px 0;
                margin: 3vh 0;
                background-color: rgba(128, 128, 128, 0.141);
                li{

                    padding: 5px 10px !important;
                    a{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 0;
                    }
                }
            }
            ul{
                padding: 5vh 0;
                h1{
                    @include fnt(var(--tc), 0.75rem, 800);
                    padding: 10px 0;
                }
                li{
                    padding: 10px 0;
                    a{
                        @include fnt(var(--tc), 0.75rem, 500)
                    }
                }
            }
        }
        footer{
            border: var(--gn) 1px solid ;
            padding: 10px;
            .head{
                h1{
                    text-align: center;
                    @include fnt(var(--tc), 0.68rem, 500);
                    padding: 10px;
                    a{
                        
                        @include fnt(var(--gn), 0.71rem, 500);
                    }
                }
            }
            .bottom{
                text-align: center;
                a{
                    @include fnt(var(--wt), 0.75rem, 450);
                    display: block;
                    background: var(--gn);
                    padding: 15px;
                    border-radius: 5px;

                }

            }
        }
    }
}