@mixin fnt($c,$s,$w){
    color: $c;
    font-size: $s;
    font-weight: $w;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{
    background-color: #fefefe;
    .cnt{
        background-image: url('/world.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        text-align: center;
        header{
            h1{

                @include fnt(var(--tc), 0.7rem, 500);
                padding: 20px;
            }
            a{
                background-color: var(--gn);
                padding: 15px ;
                display: block;
                border-radius: 5px;
                @include fnt(var(--wt), 0.75rem, 500);
            }
        }
        footer{
            a{
                border-radius: 5px;
                padding: 15px ;
                display: block;
                @include fnt(var(--tc), 0.75rem, 500);
                border: var(--gn) solid 1px;
                div{
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }

            }
        }
    }
}