@mixin fnt($c,$s,$w){
    color: $c;
    font-size: $s;
    font-weight: $w;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.abtcard{
    padding: 15px;
    margin: 10vh 20px;
    background: var(--wt);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.304) 0 4px 4px 0;
    header{
        .abtcdimgs{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .logo{
                width: 28px;
            }
        }
    }
    main{
        .mn{
            padding: 10px 0;
            h1{
                text-align: center;
                @include fnt(#217821, 0.8rem, 500);
                display: flex;
                flex-direction: column;
                padding: 10px;
                letter-spacing: 1.1px;
            }
            p{
                background: #F1F1F1;
                padding: 15px;
                @include fnt(var(--tc), 0.9rem, 450);
                line-height: 2;
            }

        }
    }
    footer{
        .abtlink{
            padding: 10px 0;
            text-align: center;
            a{
                display: block;
                border: var(--gn) 1px solid;
                @include fnt(var(--tc), 0.7rem, 500);
                border-radius: 5px;
                padding: 15px;
            }
        }
    }
}